<h1>Editing Capital Distribution</h1>

<%= render 'form', capital_distribution: @capital_distribution %>

<%= link_to 'Show', @capital_distribution %> |
<%= link_to 'Back', capital_distributions_path %>
